.striped {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.striped th,
td {
  text-align: left;
  padding: 16px;
}

.striped tr:nth-child(even) {
  background-color: #f2f2f2;
}

.striped thead {
  border-bottom: 1px solid lightgray;
}
