.container {
  max-width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex-row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.bg-aliceblue {
  background-color: aliceblue;
}
