/* https://www.w3schools.com/howto/howto_css_loader.asp */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #385769; /* Blue */
  border-radius: 50%;
  animation: spinner 0.75s linear infinite;
}

.spinnerContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
